<!DOCTYPE html>
<html>
  <head>
    <title>Api Colombia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pais: <%= data.name %></h1>
    <h2>Capital: <%= data.stateCapital %></h2>
    <h2>Area: <%= data.surface %></h2>
    <h3>Población: <%= data.population %></h3>
    <h3>Moneda: <%= data.currency %></h3>
    <h3>Idioma: <%= data.languages[0] %></h3>
    <p><%= data.description %></p>

  </body>
</html>
